<!DOCTYPE html>
<html>
    <head>
        {# TODO: Setup theme switcher here if we add more themes. #}
        {% set theme = 'default' %}
        <meta charset="UTF-8">
        <title id="title">
            {{ SITE_SHORT }} - {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/css/'~theme~'.css') }}"/>
        {% endblock %}
    </head>
    <body>
    <h1 id="title" class="logo">
        <p><a href="{{ path('public_index') }}">
            TODO: put Hauls of the Abyss logo here
        </a></p>
    </h1>
    {% block bodyScripts %}{% endblock %}
        <div id="symfony-wrapper" data-role="page">
            <div style="clear: both"></div>
            <div id="nav">
                {% include 'parts/nav.html.twig' %}
            </div>
            <div id="content" data-role="content">
                {% for fLabel, fMessages in app.flashes(['error', 'warning', 'notice']) %}
                    {% for fMessage in fMessages %}
                        <div class="flash-{{ fLabel }}">
                            {{ fMessage|trans|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
        </div>

        <div id="footerall">
            <div id="leftfooter" class="flipped"><img src="{{ asset('heavenscorn/slimes/king-slime-blue.png') }}" width="125px"></div>
            <div id="rightfooter"><img src="{{ asset('heavenscorn/slimes/king-slime-blue.png') }}" width="125px"></div>
            <div id="footer" data-role="footer">
                <div>
                    Hauls of the Abyss<br>
                    Server time: {{ "now"|date("H:i") }}
                    {% if app.environment != 'prod' %}
                        <br>mode: {{ app.environment }}
                    {% endif %}
                </div>
                <hr />
                <div>
                    Version: {{ appState.fetchGlobal('game-version', 'Alpha 1') }}<br>
                    Updated: {{ appState.fetchGlobal('game-updated', '2023-11-05') }}
                </div>
                <hr>
                <div>&copy;2023 by Iungard Systems, LLC</div>
            </div>
        </div>
        <script type="text/javascript">
            {% block javascript %}
            {% endblock %}
            {% block jquery %}
            {% endblock %}
        </script>
    </body>

</html>
