{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}

    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% else %}
        <div class="index_register">
            <h2>{{ 'user.register.header'|trans({}, 'user') }}</h2>
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}<br>
            {{ form_row(form.email) }}<br>
            <a href="{{ url("public_terms") }}">{% trans %}form.register.toslink{% endtrans %}</a>
            {{ form_row(form.agreeTerms) }}
            {{ form_end(form) }}
        </div>
        <div class="index_login">
                <form action="{{ path('user_login') }}" method="post">
                    <h2>{{ 'user.login.header'|trans({}, 'core') }}</h2>
                    {#<label for="username">Username: </label>#}
                    <input type="text" name="_username" id="username" placeholder="Username" required autofocus><br>
                    {# <label for="password" class="sr-only">Password: </label>#}
                    <input type="password" name="_password" id="password" placeholder="Password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me" checked/> Keep me logged in
                        </label>
                    </div>

                    <input type="hidden" name="_target_path" value="{{ path('user_characters') }}"/>

                    <button class="submit" type="submit">
                        Sign in
                    </button><br>
                    <!-- TODO: Password reset form. -->
                    <!--<a href="{{ url("user_reset") }}">{{ 'user.reset.short'|trans({}, 'core')}}</a> -->
                </form>
        </div>
    {% endif %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/abyss/src/Controller/PublicController.php'|file_link(0) }}">src/Controller/PublicController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/abyss/templates/public/index.html.twig'|file_link(0) }}">templates/public/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
